@import url('https://fonts.googleapis.com/css2?family=Expletus+Sans:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Khula:wght@300;400;600;700;800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Khula', sans-serif;
  /* color: #092628; */
}

*::selection {
  background-color: #ff5d53;
  color: #092628;
}

html,
body {
  height: 100%;
  width: 100%;
  /* overflow-x: hidden; */
}
#main {
  width: 100%;
  height: 100%;
  position: relative;
}

#navbar {
  height: 140px;
  width: 100%;
  padding: 0 100px;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* gap: 50%; */
  position: fixed;
  z-index: 999;
}
#navbar #nav-menu {
  display: flex;
}
#nav-menu h4 {
  font-weight: 500;
  color: #fff;
  margin-left: 50px;
  font-size: 1.05rem;
}
#navbar img {
  width: 200px;
}

#page1 {
  height: 100%;
  width: 100%;
  position: relative;
}
#bg-div {
  width: 100%;
  height: 80%;
  overflow: hidden;
  z-index: -1;
}
#bg-div #bg-img {
  width: 100%;
  height: 100%;
}
#page1 #main-img {
  position: absolute;
  height: 800px;
  width: 800px;
  object-fit: cover;
  display: flex;
  right: 0;
  top: 15%;
  border-radius: 20px 0px 0px 20px;
}

#page1 #page1-text {
  position: absolute;
  width: 50%;
  top: 17%;
  left: 20%;
}

#page1 #page1-text h2 {
  color: #fff;
  width: 70%;
  font-size: 5rem;
  line-height: 5rem;
  font-family: 'Fira Sans', sans-serif;
  font-weight: 800;
  margin-bottom: 40px;
}
#page1 #page1-text p {
  color: #fff;
  width: 60%;
  font-size: 1.15rem;
  line-height: 1.8rem;
  font-weight: 400;
  margin-bottom: 40px;
}
#page1 #page1-text button {
  font-family: 'Fira Sans', sans-serif;
  font-weight: 600;
  font-size: 1.4rem;
  color: #092628;
  background-color: #ff5d53;
  border: none;
  border-radius: 30px;
  padding: 1rem 2rem;
  transition: all ease 0.5s;
}
#page1 #page1-text button:hover {
  scale: 0.97;
  background-color: #000;
  color: #fff;
}

#page2 {
  padding: 0 7vw;

  width: 100%;
  height: 100vh;
  position: relative;
}
#page2 h3 {
  font-family: 'Fira Sans', sans-serif;
  font-size: 3rem;
  color: #092628;
  width: 25%;
  line-height: 3rem;
  font-weight: 800;
  margin: 2rem 0;
}
.grid-col-span {
  grid-column: span 2;
}
.grid-row-span {
  grid-row: span 2;
}
#page2 #topics {
  height: 70%;
  margin: 4rem 10rem;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  column-gap: 2rem;
  row-gap: 4rem;
}
.topic-cards:nth-child(1) {
  grid-column: span 3;
}
.topic-cards:nth-child(2) {
  grid-column: span 2;
}

.topic-cards:nth-child(3) {
  grid-column: span 3;
  grid-row: span 2;
}
.topic-cards:nth-child(4) {
  grid-column: span 2;
}
.topic-cards:nth-child(5) {
  grid-column: span 3;
}
.topic-cards {
  border-radius: 0.6rem;
  /* width: 100%; */
  /* height: 100%; */
  /* border: 1px solid gray; */
  background-color: #092628;
  color: #fff;
  padding: 2rem;
  position: relative;
  z-index: -2;
  overflow: hidden;
}
.topic-cards h4 {
  font-size: 2rem;
  opacity: 0.9;
  margin-bottom: 1rem;
}
.topic-cards p {
  font-size: 1.1rem;
  font-weight: 300;
  opacity: 0.7;
  margin-bottom: 1rem;
}
.topic-cards a {
  text-decoration: none;
  color: #fff;
  border-bottom: solid 1px #fff;
}
.topic-cards img {
  position: absolute;
  width: 20rem;
  bottom: -5rem;
  right: -7rem;
  z-index: 1;
  opacity: 0.6;
}
#topic3 img {
  width: 40rem;
  bottom: 0;
  left: auto;
}

#page3 {
  height: 100%;
  width: 100%;
  position: relative;
  /* background-color: red; */
  overflow: hidden;
  padding: 0 7vw;
}
#page3 h3 {
  font-family: 'Fira Sans', sans-serif;
  font-size: 3rem;
  color: #092628;
  width: 25%;
  /* line-height: 3rem; */
  font-weight: 800;
  margin: 2rem 0;
}
#page3-content {
  /* position: relative; */
  width: 100%;
  height: 100%;
  display: flex;
  /* align-items: center; */
  justify-content: space-around;
  margin-top: 5rem;
}
.swiper {
  width: 30vw;
  height: 70vh;
  /* position: absolute; */
  /* left: 10%;
    top: 15%; */
  margin: 0;
  padding: 0;
}
#about {
  /* position: relative; */
  width: 40%;
}
#about h4 {
  font-size: 3rem;
  color: #092628;
  opacity: 0.9;
  margin-bottom: 2rem;
}
#about p {
  font-size: 1.3rem;
  color: #092628;
  opacity: 0.8;
  line-height: 2rem;
}

.swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 18px;
  font-size: 22px;
  font-weight: bold;
  color: #fff;
  object-fit: cover;
  object-position: center;
}
.swiper-slide img {
  width: 100%;
  /* height: 100%; */
}

.swiper-slide .card-text {
  position: absolute;
  display: flex;
  flex-direction: column;
  padding-right: 2rem;
  align-items: right;
  text-align: right;
  background: linear-gradient(#00000000, #000);
  width: 100%;
  height: 30%;
  bottom: 0;
  padding-left: 2rem;
  padding-top: 3rem;
  /* transform: translateY(50%); */
}

.card-text h4 {
  font-size: 2rem;
}
.card-text p {
  font-weight: 400;
  size: 0.8rem;
}
#page3 #side-img {
  scale: 1.3;
  /* rotate: 180deg; */
  position: absolute;
  bottom: -10%;
  right: -10%;
  z-index: -1;
  opacity: 0.8;
}

#page4 {
  position: relative;
  height: 100%;
  width: 100%;
}
