@import url('https://fonts.googleapis.com/css2?family=Expletus+Sans:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Khula:wght@300;400;600;700;800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Khula', sans-serif;
  /* color: #092628; */
}

html,
body {
  height: 100%;
  width: 100%;
  /* overflow-x: hidden; */
}
#main {
  width: 100%;
  height: 100%;
  position: relative;
}

#navbar {
  height: 140px;
  width: 100%;
  padding: 0 100px;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* gap: 50%; */
  position: fixed;
  z-index: 999;
}
#navbar #nav-menu {
  display: flex;
}
#nav-menu h4 {
  font-weight: 500;
  color: #fff;
  margin-left: 50px;
  font-size: 1.05rem;
}
#navbar img {
  width: 200px;
}

#page1 {
  height: 110%;
  width: 100%;
  position: relative;
}
#bg-div {
  width: 100%;
  height: 80%;
  overflow: hidden;
  z-index: -1;
}
#bg-div #bg-img {
  /* object-fit: cover; */
  /* object-position: center; */
  width: 100%;
  height: 100%;
}
#page1 #main-img {
  position: absolute;
  height: 800px;
  width: 800px;
  object-fit: cover;
  display: flex;
  right: 0;
  top: 15%;
  border-radius: 20px 0px 0px 20px;
}

#page1 #page1-text {
  /* background-color: #fff; */
  position: absolute;
  width: 50%;
  top: 17%;
  left: 20%;
}

#page1 #page1-text h2 {
  color: #fff;
  width: 70%;
  font-size: 5rem;
  line-height: 80px;
  font-family: 'Fira Sans', sans-serif;
  font-weight: 800;
  margin-bottom: 40px;
}
#page1 #page1-text p {
  color: #fff;
  width: 60%;
  font-size: 1.15rem;
  line-height: 25px;
  font-weight: 400;
  margin-bottom: 40px;
}
#page1 #page1-text button {
  font-family: 'Fira Sans', sans-serif;
  font-weight: 600;

  font-size: 1.4rem;
  color: #092628;
  background-color: #ff5d53;
  border: none;
  border-radius: 30px;
  padding: 15px 40px;
  transition: all ease 0.5s;
}
#page1 #page1-text button:hover {
  scale: 0.97;
  background-color: #000;
  color: #fff;
}

#page2 {
  width: 100%;
  height: 100vh;
}
